body{
    color:blue;
    
}

.miranha:hover{
    display: none; /* hover - quando o mouse passar pela imagem |none - sumir */
}

.miranha{
    background-color: bisque;
    justify-content: center;
    width: 80%;
    height: 80%;
}

.tabela table{
    color: brown;
}

.div_miranha{
    display: flex;
    background-color: pink;
    align-items: center;
    align-content: center;
    width: 500px;
    height: 500px; 
}
