body{
    color: red

}

.miranha:hover{
    display: none; /* hover - quando o mouse passar pela imagem |none - sumir */

}
.miranha{
    width: 80%;
    height: 80%;
}


.div_miranha{
   background-color: blue;
   width: 500px;
   height: 500px; 
}