ol li a{
    display: flex;
    align-items: center;
    justify-content: center;
    color:red
}

h1, h3 {
    display: flex;
    align-items: center;
    justify-content: center;
       
}

.nots{
    color:black;
    font-size: 30px;
    
}

#sulbahia {
    color: greenyellow;
    font-size: 30px;
}